<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <!-- listener가 실행될 떄
  context-param에 등록되어 있는 부분들을 참고하게 됨
   -->
   
  <context-param>
	<param-name>contextClass</param-name>
	<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	</param-value>
  </context-param>
  <!-- listener가 실행될떄 설정 파일을 읽어들여서 실행함 -->
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>kr.or.connect.reservation.config.ApplicationConfig
	</param-value>
  </context-param>
  
  <!-- listener
  listener는 어떤 특정한 이벤트가 일어났을 때 동작
  Run on server를  통해 Context가 로딩되는 이벤트가 일어났을 떄  
  ContextLoaderListener 클래스 수행
  -->
  
  <listener>
	<listener-class>org.springframework.web.context.ContextLoaderListener
	</listener-class>
  </listener>

  <!-- 모든 요청을 다 받았을때
   DispatcherServlet을 프론트 서블릿으로 등록하는 과정 
   ApplicationContext에 대한 설정
   DispatcherServlet이 실행될 때
   WebMvcContextConfiguration에 들어있는 설정들을 참고하게 하는 과정
   -->
   
  <servlet>
	<servlet-name>mvc</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet
	</servlet-class>
	<init-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</init-param>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>kr.or.connect.reservation.config.WebMvcContextConfiguration
		</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
	<servlet-name>mvc</servlet-name>
	<url-pattern>/</url-pattern>
  </servlet-mapping>

  <!-- filter
   요청이 수행되기 전, 응답이 나가기 전 한번씩 걸쳐 수행할 수 있음
    -->
  <filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter
	</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>encodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
